{% extends "layout.html" %}

{% block title %}
    Login/Sign Up
{% endblock %}

{% block main %}

    <!-- Logo -->
    <div class="d-flex justify-content-center mt-5">
        <img src="/static/logo.png" alt="ASCII" width="475" height="175">
    </div>

    <!-- Login/Sign Up form -->

    <div class="d-flex justify-content-center">
        <div class="login-container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#signUp">Sign Up</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="login" class="container tab-pane active">
                    <br>
                    <form action="/login" method="post">
                        <div class="form-group mt-1 mb-4">
                            <label for="username">Username</label>
                            <input type="text" class="form-control mt-2" placeholder="Username" id="username" name="username" maxlength="20" required>
                        </div>
                        <div class="form-group mt-1 mb-1">
                            <label for="password">Password</label>
                            <input type="password" class="form-control mt-2" placeholder="Password" id="password" name="password" minlength="6" maxlength="128" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Log In</button>
                    </form>
                </div>
                <div id="signUp" class="container tab-pane fade">
                    <br>
                    <form action="/signUp" method="post">
                        <div class="form-group mt-1 mb-4">
                            <label for="name">Name</label>
                            <input type="text" class="form-control mt-2" placeholder="Enter full name" id="name" name="name" maxlength="50" required>
                        </div>
                        <div class="form-group mt-1 mb-4">
                            <label for="new-username">Username</label>
                            <input type="text" class="form-control mt-2" placeholder="Choose username" id="new-username" name="new-username" minlength="3" maxlength="20" required>
                        </div>
                        <div class="form-group mt-1 mb-4">
                            <label for="new-password">Password</label>
                            <input type="password" class="form-control mt-2" placeholder="Password (Min. 6 characters)" id="new-password" name="new-password" minlength="6" maxlength="128" required>
                        </div>
                        <div class="form-group mt-1 mb-4">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" class="form-control mt-2" placeholder="Re-enter password" id="confirm-password" name="confirm-password" minlength="6" maxlength="128" required>
                        </div>
                        <div class="form-group mt-1 mb-4">
                            <label for="adminPasscode">Admin Passcode</label>
                            <input type="text" class="form-control mt-2" placeholder="" id="adminPasscode" name="adminPasscode" required>
                        </div>
                        <div class="form-group mt-1 mb-1">
                            <label for="coAdminPasscode">Room-Admin Passcode</label>
                            <input type="text" class="form-control mt-2" placeholder="" id="coAdminPasscode" name="coAdminPasscode">
                        </div>
                        <button type="submit" class="btn btn-success mt-4">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Check if passwords match -->
    <script>
        const password = document.getElementById("new-password");
        const confirm_password = document.getElementById("confirm-password");

        function validatePassword() {
            if (password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        };

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

{% endblock %}