{% extends "layout.html" %}

{% block title %}
    Waiting
{% endblock %}

{% block main %}

    <!-- Buttons -->

    <div class="container">
        <div class="row align-items-center">

            <!-- Back to Home -->

            <div class="col-auto" style="padding-right: 6px;">
                <form action="/rooms" method="get" class="align-middle">
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left align-middle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door align-middle" viewBox="0 0 16 16">
                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                        </svg>
                    </button>
                </form>
            </div>

            <!-- Information Button -->

            <div class="col-auto" style="padding-left: 6px;">
                <!-- Trigger Info Modal -->
                <button type="button" class="btn btn-warning mt-0" data-bs-toggle="modal" data-bs-target="#rulesModal" style="margin-top: 22px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-info-circle align-middle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>Info/Rules
                </button>
            </div>

            <!-- Add Spacer -->
            <div class="col flex-grow-1"></div>

            <!-- Room Information -->

            <div class="col-auto">
                <h5>Room Code: {{ room.room_code }}</h5>
                <h6>Number of Players: {{ room.number_of_players }}</h6>
                <h6>Starting Points: {{ room.starting_points }}</h6>
                <h6>Deduction Points per Option: {{ room.deduction_points_per_option }}</h6>
            </div>

        
        </div>
    </div>

    <!-- Rules Modal -->

    <div class="modal fade" id="rulesModal" tabindex="-1" aria-labelledby="rulesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rulesModalLabel">Information/Rules</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if waitType == "options" %}

                        <h4 id="step-1-initial-points-and-suggestions">Initial Points and Suggestions</h4>
                        <br>

                        <ol>
                            <li>
                                <p><strong>Suggest Initial Option</strong>: Each participant suggests 1 option for free.</p>
                            </li>
                            <li>
                                <p><strong>Additional Suggestions</strong>: Additional suggestions cost <code>{{ room.deduction_points_per_option }}</code> points each, deducted from the participant&#39;s starting points (<code>{{ room.starting_points }}</code>).</p>
                            </li>
                            <li>
                                <p><strong>Delete Suggestions</strong>: The room creator can delete any overlapping suggestions before the voting starts. The points spent on deleted suggestions are refunded.</p>
                            </li>
                            <li>
                                <p><strong>Re-enter Suggestions</strong>: Participants can re-enter suggestions if all their suggestions were deleted.</p>
                            </li>
                        </ol>
                    
                    {% else %}

                        <h4 id="step-3-determining-the-winner">Determining the Winner</h4>
                        <br>

                        <ol>
                            <li>
                                <p><strong>Winning Option</strong>: The option with the highest total points wins.</p>
                            </li>
                            <li>
                                <p><strong>Handling Ties</strong>:</p>
                                <ul>
                                    <li>If there&#39;s a tie, a runoff vote is conducted.</li>
                                    <li>In the runoff, participants receive (10 x number of tied options) points to vote among the tied options only.</li>
                                    <li>Here, there are no restrictions on the number of points that can be allocated to one&#39;s own suggestion(s).</li>
                                </ul>
                                <p></p>
                            </li>
                            <li>
                                <p><strong>Blind Voting Results</strong>: If the voting was blind, the identity of the participants who suggested each option remains anonymous even in the results.</p>
                            </li>
                        </ol>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- Waiting Room -->

    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Waiting for {{ participants_left }} participants to submit their {{ waitType }}...</h6>
            </div>
        </div>
    </div>

    <!-- Waiting Room Form -->

    <div class="container">
        <div class="row">
            <div class="col">
                <form id="waitingForm" action="/rooms/{{ room.room_code }}/voting" method="get">
                    <button type="submit" class="btn btn-primary mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-clockwise align-middle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                          </svg>
                        Refresh
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}